<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/index.html}">

<head>

</head>

<body>
<!-- Page Content -->
<div id="page-wrapper" layout:fragment="admin">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Danh sách sản phẩm</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 text-right">
                <button type="button" data-toggle="modal" data-target="#btnChucVuModalThem" class="btn btn-sm btn-success">Thêm mới</button>
            </div>
            <!-- /.col-lg-12 -->
        </div>
<!--        &lt;!&ndash; /row &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-sm-12">-->
<!--                <div class="white-box">-->
<!--                    <div class="table-responsive">-->
<!--                        <table class="table" id="tableChucVu" >-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th>Mã sản phẩm</th>-->
<!--                                <th>Tên sản phẩm</th>-->
<!--                                <th>Giá</th>-->
<!--                                <th>Màu xe</th>-->
<!--                                <th>Action</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tr th:each="item : ${items}">-->
<!--                                <td th:text="${item.maXe}"></td>-->
<!--                                <td th:text="${item.tenXe}"></td>-->
<!--                                <td th:text="${item.giaXe}"></td>-->
<!--                                <td th:text="${item.mauXe}"></td>-->
<!--                                <td>-->
<!--                                    <a href="#" class="btn btn-sm btn-primary">Sửa</a>-->
<!--                                    <form th:action="@{/Motorbikes/delete}" method="post" style="display:inline;">-->
<!--                                        <input type="hidden" name="maXe" th:value="${item.maXe}" />-->
<!--                                        <button type="submit" class="btn btn-sm btn-danger">Xóa</button>-->
<!--                                    </form>-->
<!--                                    <a href="#" class="btn btn-sm btn-info">Xem</a>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <!-- Modal -->
        <!-- Modal -->
        <div class="modal fade" id="btnChucVuModalThem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Thêm Sản Phẩm Mới</h4>
                    </div>
                    <div class="modal-body">
                        <div class="white-box">
                            <form action="#" th:action="@{/Motorbikes/create}" method="post" class="form-horizontal form-material">
                                <div class="form-group">
                                    <label class="col-md-12">Mã sản phẩm</label>
                                    <div class="col-md-12">
                                        <input name="maXe" type="text" placeholder="Mã sản phẩm" class="form-control form-control-line" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Tên sản phẩm</label>
                                    <div class="col-md-12">
                                        <input name="tenXe" type="text" placeholder="Tên sản phẩm" class="form-control form-control-line" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Giá</label>
                                    <div class="col-md-12">
                                        <input name="giaXe" type="text" placeholder="Giá" class="form-control form-control-line" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Dung tích</label>
                                    <div class="col-md-12">
                                        <input name="dungTich" type="text" placeholder="Dung tích" class="form-control form-control-line" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Trạng thái</label>
                                    <div class="col-md-12">
                                        <select name="trangThai" class="form-control form-control-line">
                                            <option value=1>Đã bán</option>
                                            <option value=2>Chưa bán</option>
                                            <option value=3>Sắp nhập về</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Xe Zin</label>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <input name="zinXe" type="text" placeholder="Mức độ zin" class="form-control form-control-line" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Mô tả xe</label>
                                    <div class="col-md-12">
                                        <input name="moTa" type="text" placeholder="Mô tả xe" class="form-control form-control-line" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Số khung</label>
                                    <div class="col-md-12">
                                        <input name="soKhung" type="text" placeholder="Số khung" class="form-control form-control-line" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Màu xe</label>
                                    <div class="col-md-12">
                                        <input name="mauXe" type="text" placeholder="Màu xe" class="form-control form-control-line" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Loại xe</label>
                                    <div class="col-md-12">
                                        <select name="loaiXe" class="form-control form-control-line">
                                            <option value=1>Loại 1</option>
                                            <option value=2>Loại 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Hãng xe</label>
                                    <div class="col-md-12">
                                        <select name="hangXe" class="form-control form-control-line">
                                            <option value="1">Honda</option>
                                            <option value="2">Suzuki</option>
                                            <option value="3">Yamaha</option>
                                            <option value="4">Sym</option>
                                            <option value="5">Halay</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-success">Thêm</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center">E-StoreX</footer>
</div>
</body>

</html>