<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/index.html}">

<head>

</head>

<body>

<!-- Page Content -->
<div id="page-wrapper" layout:fragment="admin" >
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Chức vụ</h4>
            </div>
        </div>
        <!-- /.row -->
        <!-- .row -->
        <div class="row">
            <div class="col-md-2 col-12"></div>
            <div class="col-md-8 col-xs-12" th:object="${cv}">
                <div class="white-box">
                    <form class="form-horizontal form-material">
                        <div class="form-group">
                            <label class="col-md-12">Tên quyền</label>
                            <div class="col-md-12">
                                <input id="tenChucVuUpdate" type="text" placeholder="Tên quyền" th:value="${cv?.tenChucVu}"
                                       class="form-control form-control-line" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Mô tả</label>
                            <div class="col-md-12">
                                <input id="descChucVuUpdate" th:value="${cv?.mieuTa}" type="text" placeholder="Mô tả" class="form-control form-control-line" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button id="btnUpdateChucVu" class="btn btn-success waves-effect waves-light m-r-10">Cập nhật</button>
                                <a href="/Admin/Quản-lý-chức-vụ" class="btn btn-primary">Quay lại</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <script src="/assets-admin/script/ChucVuJS.js"></script>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2018 &copy; myclass.com </footer>
</div>
<!-- /#page-wrapper -->
</body>

</html>